<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>4 Hours Notification</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600;900&display=swap" rel="stylesheet">
  <style>
    html {
      padding: 0;
      margin: 0;
      background: turquoise;
      font-family: 'Roboto Slab', serif;
    }

    body {
      padding: 26px 0 10px;
      margin: 0;
      font-weight: 700;
      width: 450px;
      box-sizing: content-box;
      background-color: white;
      position: relative;
    }

    header {
      text-align: center;
      font-size: 26px;
      margin-bottom: 16px;
    }

    header p {
      padding: 0;
      margin: 0;
    }

    .table {
      margin: 0 15px;
    }

    .head {
      font-size: 18px;
      padding: 10px 0;
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      border-bottom: 1px solid {{ color }};
      color: #643A6B;
    }

    .head-item {
      text-align: center;
      line-height: 14px;
    }

    .head-item.last {
      text-align: end;
      margin-right: 14px;
    }

    .head-item.first {
      text-align: start;
      margin-left: 12px;
    }

    .head-item:last-child {
      border-right: none;
    }

    .head-item-text {
      display: inline-block;
      min-width: 60%;
    }

    .row {
      border-bottom: 1px solid {{ color }};
    }

    .row:last-child {
      {{!-- border: none; --}}
    }

    .row-top {
      padding-top: 4px;
      text-align: center;
      font-size: 16px;
      margin-right: 85px;
    }

    .row-bottom {
      padding: 2px 0;
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      font-size: 18px;
    }

    .row-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .row-item.last {
      margin-right: 6px;
      justify-content: end;
    }

    .row-item.currency {
      color: {{ color }};
      font-weight: 900;
      margin-left: 6px
    }

    .diff-up {
      color: #1B9C85;
    }

    .diff-down {
      color: #B04759;
    }

    .currency-s {
      font-weight: 900;
      color: rgb(255, 186, 0);
    }

    .currency-e {
      color: #D8D8D8;
    }

    .currency-s-diff {
      color: #D8D8D8;
    }

    .currency-e-diff {
      font-weight: 900;
    }

    .currency-s-last {
      {{!-- color: #19A7CE; --}}
      color: {{ color }}
    }

    .arrow-left {
      height: 28px;
      margin: 0px 4px 0 10px;
      transform: rotate(-90deg);
      fill: #47A992;
      stroke: #47A992;
    }

    .arrow-right {
      height: 28px;
      margin: 2px 10px 0 4px;
      transform: rotate(90deg);
      fill: #A459D1;
      stroke: #A459D1;
    }

    .arrow-center {
      height: 28px;
      margin: 0px 8px 0 10px;
      transform: rotate(-90deg);
    }

    .arrow-center .arrow-d-second {
      transform: rotate(180deg) translate(-10px, -27px);
    }

    .bot-image {
      margin: 0px;
      width: 80px;
      position: absolute;
      right: 8px;
      top: 8px;
    }

    .bot-image img {
      width: 100%;
    }

    .color-base {
      color: {{ color }};
    }

    .copyright {
      text-align: center;
      margin: 0;
      font-size: 12px;
      font-weight: 400;
      margin-top: 6px;
    }
  </style>
</head>

<body>
  <header style="margin-right: 86px;">
    <p class="color-base">{{name}}</p>
    <p style="color: #A4D0A4;">{{date}} - {{time}}</p>
  </header>
  <main>
    <div class="table">
      <div class="head">
        <div class="head-item first">
          <span class="head-item-text">Currency</span>
        </div>
        <div class="head-item">
          <span class="head-item-text">Previous</span>
        </div>
        <div class="head-item">
          <span class="head-item-text">Diff</span>
        </div>
        <div class="head-item last color-base">
          <span class="head-item-text">Now</span>
        </div>
      </div>
      {{#each records}}
      <div class="row">
        <div class="row-top" style="color: {{ COLOR }};">
          {{ NAME }}
        </div>
        <div class="row-bottom">
          <div class="row-item currency">
            {{ CURRENCY }}
            <svg class="{{ ARROW_CLASS }}" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 20 34" version="1.1">
              <g style="transform: translate(2px, 1px) scale(1.5);">
                <path
                  d="M4.973,4.175 L9.975,7.919 L9.975,3.979 L4.973,0.036 L0.004,4.078 L0.004,7.996 L0.016,8.007 L4.973,4.175 Z">
                </path>
                <path class="arrow-d-second"
                  d="M4.973,11.958 L9.975,15.909 L9.975,11.971 L4.973,8.005 L0.004,12.069 L0.004,15.987 L0.016,15.997 L4.973,11.958 Z">
                </path>
              </g>
            </svg>
            {{ CURRENCY_BASE }}
          </div>
          <div class="row-item">
            <span class="currency-s">{{ PREVIOUS_VALUE_S }}</span><span class="currency-e">{{ PREVIOUS_VALUE_E }}</span>
          </div>
          <div class="row-item {{DIFF_STYLE}}">
            <span class="currency-s-diff">{{ DIFF_S }}</span><span class="currency-e-diff">{{ DIFF_E }}</span>
          </div>
          <div class="row-item last">
            <span class="currency-s currency-s-last">{{ LAST_VALUE_S }}</span><span class="currency-e">{{ LAST_VALUE_E
              }}</span>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <p class="copyright">Produced by Currency Notifications Bot</p>
  </main>
  <p class="bot-image ">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="80" height="100"
      viewBox="0 0 596.000000 752.000000" preserveAspectRatio="xMidYMid meet">

      <g transform="translate(0.000000,752.000000) scale(0.100000,-0.100000)" fill="{{ color }}" stroke="none">
        <path
          d="M523 7159 c-63 -24 -122 -79 -154 -145 l-24 -49 0 -350 0 -350 27 -51 c33 -63 95 -118 156 -138 68 -24 687 -23 755 0 63 21 129 82 158 146 24 53 24 56 24 398 0 332 -1 347 -22 392 -29 63 -93 123 -159 148 -51 19 -76 20 -382 19 -302 0 -331 -2 -379 -20z m659 -167 c51 -25 103 -92 113 -146 4 -17 5 -133 3 -257 l-3 -226 -28 -41 c-15 -23 -46 -54 -69 -69 l-41 -28 -228 -3 c-251 -4 -284 1 -343 50 -70 58 -76 82 -76 344 0 228 0 230 26 283 30 60 78 97 145 111 24 5 136 8 249 7 192 -2 208 -3 252 -25z" />
        <path
          d="M737 6838 c-23 -14 -45 -38 -58 -65 -19 -39 -21 -58 -17 -171 3 -115 5 -130 27 -161 36 -51 72 -61 217 -61 142 0 179 11 217 64 20 29 22 42 22 173 0 157 -5 173 -75 221 -30 20 -44 22 -164 22 -116 0 -135 -3 -169 -22z" />
        <path
          d="M1640 7158 c-18 -19 -20 -35 -20 -138 0 -164 -4 -160 165 -160 169 0 165 -4 165 160 0 109 -2 118 -23 138 -21 20 -34 22 -145 22 -112 0 -123 -2 -142 -22z" />
        <path
          d="M2120 7158 c-24 -26 -27 -84 -5 -115 13 -18 27 -23 78 -25 l62 -3 5 -61 c7 -80 19 -94 86 -94 77 0 84 14 84 160 0 109 -2 118 -23 138 -21 20 -34 22 -145 22 -112 0 -123 -2 -142 -22z" />
        <path
          d="M2600 7158 c-18 -20 -20 -35 -20 -160 l0 -138 -58 0 c-45 0 -63 -5 -80 -20 -27 -26 -30 -88 -4 -119 16 -19 29 -21 157 -23 l140 -3 5 -61 c7 -80 19 -94 86 -94 68 0 84 20 84 102 l0 58 64 0 c81 0 96 16 96 102 l0 58 65 0 c58 0 66 3 81 25 21 32 13 103 -12 122 -10 7 -44 13 -76 13 l-58 0 0 58 c0 48 -4 62 -23 80 -32 30 -99 30 -127 0 -18 -20 -20 -35 -20 -160 l0 -138 -75 0 -75 0 0 138 c0 125 -2 140 -20 160 -15 16 -32 22 -65 22 -33 0 -50 -6 -65 -22z" />
        <path
          d="M3240 7158 c-24 -26 -27 -84 -4 -116 15 -22 17 -22 309 -22 292 0 294 0 309 22 23 32 20 90 -4 116 -20 22 -25 22 -305 22 -280 0 -285 0 -305 -22z" />
        <path
          d="M4683 7159 c-63 -24 -122 -79 -154 -145 -24 -49 -24 -49 -24 -394 0 -339 0 -346 23 -396 27 -60 69 -103 132 -136 44 -23 51 -23 393 -26 l348 -3 58 26 c70 32 112 73 143 140 23 49 23 56 23 395 0 330 -1 347 -21 390 -28 58 -80 112 -141 141 -47 24 -52 24 -388 26 -320 2 -343 1 -392 -18z m659 -167 c51 -25 103 -92 113 -146 4 -17 5 -133 3 -257 l-3 -226 -28 -41 c-15 -23 -46 -54 -69 -69 l-41 -28 -228 -3 c-135 -2 -244 1 -266 7 -51 14 -112 66 -134 115 -16 36 -19 69 -19 272 0 228 0 231 26 282 53 106 105 122 389 119 197 -2 213 -3 257 -25z" />
        <path
          d="M4900 6838 c-67 -46 -75 -66 -78 -206 -3 -116 -1 -131 20 -171 36 -69 68 -81 221 -81 145 0 178 10 218 63 23 30 24 40 24 174 0 157 -5 173 -75 221 -30 20 -45 22 -165 22 -120 0 -135 -2 -165 -22z" />
        <path
          d="M3884 7006 c-17 -13 -19 -29 -22 -136 -5 -156 1 -168 90 -172 l63 -3 5 -61 c7 -80 19 -94 86 -94 68 0 84 20 84 102 l0 58 64 0 c90 0 96 10 96 160 0 167 11 160 -246 160 -157 0 -204 -3 -220 -14z" />
        <path
          d="M2120 6838 c-24 -26 -27 -84 -4 -116 12 -18 25 -22 69 -22 44 0 57 4 69 22 24 33 20 93 -6 118 -31 28 -100 28 -128 -2z" />
        <path
          d="M3242 6840 c-21 -20 -22 -28 -22 -218 0 -237 2 -242 85 -242 69 0 85 20 85 102 l0 58 65 0 c58 0 66 3 81 25 21 32 14 101 -13 120 -10 8 -42 14 -75 15 l-58 0 0 58 c0 48 -4 62 -23 80 -31 29 -95 30 -125 2z" />
        <path
          d="M3574 6852 c-34 -22 -44 -93 -18 -130 12 -18 25 -22 69 -22 63 0 85 21 85 80 0 49 -33 80 -86 80 -21 0 -44 -4 -50 -8z" />
        <path
          d="M1640 6678 c-24 -26 -27 -84 -4 -116 15 -22 19 -22 229 -22 210 0 214 0 229 22 24 33 20 93 -6 118 -20 19 -34 20 -224 20 -196 0 -204 -1 -224 -22z" />
        <path
          d="M3720 6680 c-19 -19 -20 -33 -20 -218 0 -237 2 -242 85 -242 83 0 85 5 85 240 0 192 0 197 -23 218 -31 29 -99 30 -127 2z" />
        <path
          d="M2440 6518 c-15 -17 -20 -35 -20 -80 l0 -58 -59 0 c-52 0 -62 -3 -80 -26 -19 -24 -21 -40 -21 -160 l0 -134 -58 0 c-48 0 -62 -4 -80 -23 -21 -22 -22 -32 -22 -219 0 -253 -12 -237 175 -240 l140 -3 5 -61 c7 -80 19 -94 86 -94 79 0 84 12 84 182 l0 139 153 -3 152 -3 5 -61 c8 -92 9 -93 174 -96 l141 -3 5 -61 c7 -80 19 -94 86 -94 68 0 84 20 84 103 l0 58 73 -3 72 -3 3 -157 3 -158 -60 0 c-49 0 -64 -4 -81 -22 -24 -26 -27 -84 -4 -116 13 -19 24 -22 80 -22 l64 0 0 -138 c0 -170 5 -182 85 -182 69 0 85 20 85 102 l0 58 64 0 c81 0 96 16 96 102 l0 58 64 0 c92 0 96 7 96 182 l0 138 75 0 75 0 0 -218 c0 -260 1 -262 85 -262 69 0 85 20 85 102 l0 58 64 0 c92 0 96 7 96 182 l0 138 75 0 75 0 0 -58 c0 -82 16 -102 85 -102 69 0 85 20 85 102 l0 58 75 0 75 0 0 -80 0 -80 -59 0 c-52 0 -62 -3 -80 -26 -25 -32 -27 -81 -5 -112 13 -19 24 -22 80 -22 l64 0 0 -80 0 -80 -75 0 -75 0 0 58 c0 74 -24 102 -87 102 -57 0 -83 -33 -83 -106 l0 -54 -59 0 c-52 0 -62 -3 -80 -26 -15 -20 -21 -41 -21 -80 l0 -54 -235 0 -235 0 0 54 c0 74 -25 106 -85 106 -60 0 -85 -32 -85 -106 l0 -54 -59 0 c-52 0 -62 -3 -80 -26 -15 -20 -21 -41 -21 -80 l0 -54 -57 0 c-100 0 -103 -8 -103 -247 0 -248 -11 -233 165 -233 127 0 135 1 149 22 24 34 20 90 -7 116 -18 17 -36 22 -80 22 l-57 0 0 80 0 80 75 0 75 0 0 -58 c0 -36 6 -66 16 -80 15 -22 19 -22 229 -22 210 0 214 0 229 22 22 31 20 80 -5 112 -18 23 -28 26 -80 26 l-59 0 0 80 0 80 75 0 75 0 0 -58 c0 -86 15 -102 96 -102 l64 0 0 -160 0 -160 -299 0 -300 0 -20 -26 c-20 -25 -21 -40 -21 -218 0 -230 2 -236 85 -236 69 0 85 20 85 102 l0 58 64 0 c81 0 96 16 96 102 l0 58 224 0 c221 0 225 0 240 22 10 14 16 44 16 80 l0 58 75 0 75 0 0 -60 c0 -81 20 -102 93 -98 71 4 77 18 77 186 l0 132 64 0 c81 0 96 16 96 102 l0 58 64 0 c90 0 96 10 96 156 0 97 -3 115 -21 138 -18 23 -28 26 -80 26 l-59 0 0 80 0 80 144 0 c138 0 146 1 160 22 13 19 16 59 16 240 l0 218 64 0 c96 0 96 1 96 236 0 254 6 244 -165 244 -122 0 -124 0 -144 -26 -25 -32 -27 -81 -5 -112 13 -19 24 -22 80 -22 l64 0 0 -80 0 -80 -59 0 c-52 0 -62 -3 -80 -26 -20 -25 -21 -39 -21 -240 l0 -214 -75 0 -75 0 0 240 0 240 64 0 c56 0 67 3 80 22 22 31 20 80 -5 112 -18 23 -28 26 -80 26 l-59 0 0 54 c0 74 -25 106 -85 106 -35 0 -48 -5 -64 -26 -19 -24 -21 -40 -21 -160 l0 -134 -75 0 -75 0 0 54 c0 39 -6 60 -21 80 -18 23 -28 26 -80 26 l-59 0 0 54 c0 74 -25 106 -85 106 -35 0 -48 -5 -64 -26 -19 -24 -21 -40 -21 -160 l0 -134 -75 0 -75 0 0 54 c0 39 -6 60 -21 80 -18 23 -28 26 -80 26 l-59 0 0 58 c0 48 -4 62 -23 80 -32 30 -99 30 -127 0 -18 -20 -20 -35 -20 -160 l0 -138 -155 0 -155 0 0 60 c0 48 -4 63 -22 80 -20 18 -35 20 -160 20 l-138 0 0 80 0 80 65 0 c58 0 66 3 81 25 21 32 14 101 -13 120 -10 8 -42 14 -75 15 l-58 0 0 58 c0 74 -24 102 -88 102 -62 0 -82 -24 -82 -100 l0 -60 -75 0 -75 0 0 80 0 80 64 0 c56 0 67 3 80 22 24 33 20 93 -6 118 -17 15 -35 20 -80 20 l-58 0 0 58 c0 74 -24 102 -88 102 -62 0 -82 -24 -82 -100 l0 -60 -60 0 c-72 0 -100 -23 -100 -80 0 -60 21 -79 93 -82 l62 -3 3 -77 3 -78 -61 0 c-82 0 -100 -18 -100 -100 l0 -60 -155 0 -155 0 0 160 0 160 64 0 c90 0 96 10 96 160 0 109 -2 118 -23 138 -32 30 -99 30 -127 0z m780 -698 l0 -80 -75 0 -75 0 0 80 0 80 75 0 75 0 0 -80z m1760 -1120 l0 -80 -59 0 c-52 0 -62 -3 -80 -26 -19 -24 -21 -40 -21 -160 l0 -134 -75 0 -75 0 0 160 0 160 64 0 c81 0 96 16 96 102 l0 58 75 0 75 0 0 -80z" />
        <path
          d="M4202 6520 c-22 -20 -22 -26 -22 -298 0 -327 -1 -322 85 -322 86 0 85 -4 85 320 0 276 0 277 -23 298 -31 29 -95 30 -125 2z" />
        <path
          d="M1654 6212 c-26 -17 -34 -56 -34 -159 0 -140 7 -151 93 -155 l62 -3 5 -61 c7 -80 19 -94 86 -94 77 0 84 14 84 162 0 108 -2 119 -22 138 -17 15 -35 20 -80 20 l-58 0 0 58 c0 48 -4 62 -23 80 -23 22 -89 30 -113 14z" />
        <path
          d="M1960 6200 c-24 -24 -27 -86 -4 -118 12 -18 25 -22 69 -22 44 0 57 4 69 22 24 34 20 90 -7 116 -31 29 -99 30 -127 2z" />
        <path
          d="M2602 6200 c-26 -25 -30 -85 -6 -118 12 -18 25 -22 69 -22 44 0 57 4 69 22 23 32 20 94 -4 118 -28 28 -98 27 -128 0z" />
        <path
          d="M3560 6198 c-24 -26 -27 -84 -4 -116 12 -18 25 -22 69 -22 44 0 57 4 69 22 24 33 20 93 -6 118 -31 28 -100 28 -128 -2z" />
        <path
          d="M3886 6207 c-25 -19 -33 -90 -12 -122 14 -22 24 -25 71 -25 44 0 57 4 69 22 24 34 20 90 -7 116 -27 25 -92 30 -121 9z" />
        <path
          d="M360 5878 c-19 -20 -20 -34 -20 -218 0 -235 2 -240 85 -240 83 0 85 6 85 236 0 178 -1 193 -21 218 -27 35 -98 37 -129 4z" />
        <path
          d="M680 5878 c-24 -26 -27 -84 -4 -116 14 -21 22 -22 149 -22 127 0 135 1 149 22 26 37 16 108 -18 130 -6 4 -66 8 -133 8 -113 0 -124 -2 -143 -22z" />
        <path
          d="M1160 5878 c-24 -26 -27 -84 -4 -116 15 -22 19 -22 229 -22 210 0 214 0 229 22 24 34 20 90 -7 116 -22 21 -32 22 -225 22 -194 0 -202 -1 -222 -22z" />
        <path
          d="M3720 5878 c-24 -26 -27 -84 -4 -116 12 -18 25 -22 69 -22 63 0 85 21 85 80 0 52 -29 80 -85 80 -33 0 -50 -6 -65 -22z" />
        <path
          d="M1001 5714 c-25 -32 -27 -81 -5 -112 12 -18 25 -22 69 -22 63 0 85 21 85 80 0 50 -33 80 -87 80 -33 0 -46 -6 -62 -26z" />
        <path
          d="M1647 5725 c-27 -19 -34 -88 -13 -120 14 -22 24 -25 71 -25 44 0 57 4 69 22 24 33 20 93 -6 118 -26 24 -93 27 -121 5z" />
        <path
          d="M1162 5557 c-26 -28 -29 -82 -6 -115 14 -21 22 -22 149 -22 127 0 135 1 149 22 26 37 16 108 -18 130 -6 4 -65 8 -132 8 -113 0 -122 -1 -142 -23z" />
        <path
          d="M1960 5558 c-15 -17 -20 -35 -20 -80 l0 -58 -139 0 c-139 0 -140 0 -160 -26 -25 -32 -27 -81 -5 -112 13 -19 24 -22 80 -22 l64 0 0 -80 0 -80 -75 0 -75 0 0 58 c0 48 -4 62 -23 80 -21 20 -34 22 -145 22 -112 0 -123 -2 -142 -22 -24 -26 -27 -84 -5 -115 13 -18 27 -23 78 -25 l62 -3 5 -61 c8 -92 9 -93 174 -96 l141 -3 5 -61 c7 -81 18 -92 93 -96 l62 -3 5 -61 c7 -80 19 -94 86 -94 68 0 84 20 84 102 l0 58 64 0 c90 0 96 10 96 160 0 103 -2 119 -20 138 -15 16 -32 22 -63 22 -23 0 -47 -4 -53 -8 -22 -14 -34 -51 -34 -101 l0 -51 -75 0 -75 0 0 160 0 160 224 0 c221 0 225 0 240 22 24 33 20 93 -6 118 -20 18 -35 20 -160 20 l-138 0 0 60 c0 48 -4 63 -22 80 -31 28 -100 28 -128 -2z" />
        <path
          d="M522 5397 c-17 -18 -22 -36 -22 -80 l0 -57 -60 0 c-91 0 -100 -14 -100 -160 0 -146 7 -160 85 -160 69 0 85 20 85 102 l0 58 64 0 c81 0 96 16 96 102 l0 58 64 0 c56 0 67 3 80 22 26 37 16 108 -18 130 -6 4 -65 8 -132 8 -113 0 -122 -1 -142 -23z" />
        <path
          d="M1000 5398 c-15 -17 -20 -35 -20 -80 l0 -58 -59 0 c-52 0 -62 -3 -80 -26 -25 -32 -27 -81 -5 -112 14 -21 22 -22 149 -22 169 0 165 -4 165 162 0 108 -2 119 -22 138 -31 28 -100 28 -128 -2z" />
        <path
          d="M2760 5398 c-24 -26 -27 -84 -4 -116 12 -18 25 -22 69 -22 44 0 57 4 69 22 24 34 20 90 -7 116 -32 30 -99 30 -127 0z" />
        <path
          d="M3081 5394 c-25 -32 -27 -81 -5 -112 12 -18 25 -22 69 -22 63 0 85 21 85 80 0 50 -33 80 -87 80 -33 0 -46 -6 -62 -26z" />
        <path
          d="M2614 5252 c-34 -22 -44 -93 -18 -130 12 -18 25 -22 69 -22 44 0 57 4 69 22 19 26 21 71 5 101 -17 31 -28 37 -74 37 -22 0 -45 -4 -51 -8z" />
        <path
          d="M2921 5234 c-25 -32 -27 -81 -5 -112 12 -18 25 -22 69 -22 63 0 85 21 85 80 0 50 -33 80 -87 80 -33 0 -46 -6 -62 -26z" />
        <path
          d="M1165 5084 c-18 -13 -20 -29 -23 -135 -5 -173 -9 -169 163 -169 127 0 135 1 149 22 24 33 20 93 -6 118 -17 15 -35 20 -80 20 l-58 0 0 58 c0 48 -4 62 -23 80 -28 26 -92 29 -122 6z" />
        <path
          d="M2837 4954 c-67 -22 -87 -34 -147 -90 -151 -142 -188 -334 -102 -517 158 -333 644 -330 797 6 111 241 -10 523 -258 602 -102 33 -186 32 -290 -1z m308 -284 c7 -11 -24 -295 -36 -327 -12 -33 -32 -29 -94 18 -67 51 -69 67 -15 139 64 86 57 89 -47 19 -72 -49 -77 -51 -112 -40 -56 17 -106 50 -93 63 12 12 350 136 374 137 9 1 20 -3 23 -9z" />
        <path
          d="M527 4925 c-27 -19 -34 -88 -13 -120 14 -22 24 -25 71 -25 44 0 57 4 69 22 22 31 20 80 -5 112 -16 21 -29 26 -62 26 -23 0 -50 -7 -60 -15z" />
        <path
          d="M360 4758 c-19 -20 -20 -34 -20 -218 0 -235 2 -240 85 -240 83 0 85 5 85 240 0 192 0 197 -23 218 -32 30 -99 30 -127 0z" />
        <path
          d="M1000 4758 c-24 -26 -27 -84 -4 -116 12 -18 25 -22 69 -22 44 0 57 4 69 22 24 33 20 93 -6 118 -31 28 -100 28 -128 -2z" />
        <path
          d="M2282 4760 c-18 -17 -22 -32 -22 -80 l0 -60 -57 0 c-34 -1 -66 -7 -76 -15 -27 -19 -34 -88 -13 -120 15 -22 23 -25 81 -25 l65 0 0 -80 0 -80 -60 0 c-80 0 -100 -20 -100 -102 l0 -58 -57 0 c-32 0 -63 -4 -69 -8 -34 -22 -44 -93 -18 -130 13 -19 24 -22 80 -22 l64 0 0 -58 c0 -36 6 -66 16 -80 15 -22 19 -22 229 -22 210 0 214 0 229 22 22 31 20 80 -5 112 -20 26 -21 26 -160 26 l-139 0 0 80 0 80 64 0 c99 0 96 -10 96 320 0 276 0 277 -23 298 -31 29 -95 30 -125 2z" />
        <path
          d="M840 4600 c-18 -18 -20 -33 -20 -138 0 -166 -5 -162 165 -162 127 0 135 1 149 22 22 31 20 80 -5 112 -18 23 -28 26 -80 26 l-59 0 0 60 c0 48 -4 63 -22 80 -30 27 -100 28 -128 0z" />
        <path
          d="M1320 4598 c-24 -26 -27 -84 -4 -116 14 -21 22 -22 149 -22 127 0 135 1 149 22 22 31 20 80 -5 112 -20 26 -22 26 -144 26 -115 0 -126 -2 -145 -22z" />
        <path
          d="M1800 4598 c-18 -19 -20 -35 -20 -138 0 -146 7 -160 85 -160 78 0 85 14 85 162 0 108 -2 119 -22 138 -31 28 -100 28 -128 -2z" />
        <path
          d="M5481 4434 c-25 -32 -27 -81 -5 -112 12 -18 25 -22 68 -22 62 0 75 11 83 69 5 33 1 44 -20 65 -37 37 -97 36 -126 0z" />
        <path
          d="M1161 4274 c-25 -32 -27 -81 -5 -112 14 -21 22 -22 160 -22 l144 0 0 -80 0 -80 -57 0 c-32 0 -63 -4 -69 -8 -34 -22 -44 -93 -18 -130 14 -21 22 -22 149 -22 176 0 165 -16 165 240 0 260 21 240 -247 240 l-202 0 -20 -26z" />
        <path
          d="M5161 4274 c-27 -34 -27 -88 -1 -114 16 -16 33 -20 80 -20 l60 0 0 -58 c0 -85 17 -104 88 -100 74 4 82 18 82 159 0 93 -3 110 -21 133 -20 26 -22 26 -144 26 -122 0 -124 0 -144 -26z" />
        <path
          d="M360 4118 c-19 -20 -20 -34 -20 -218 0 -256 -11 -240 165 -240 158 0 165 4 165 102 l0 58 64 0 c89 0 96 11 96 153 0 143 -12 167 -86 167 -60 0 -84 -30 -84 -103 l0 -57 -75 0 -75 0 0 54 c0 74 -25 106 -85 106 -33 0 -50 -6 -65 -22z" />
        <path
          d="M1014 3972 c-22 -14 -34 -51 -34 -101 l0 -51 -58 0 c-79 0 -102 -23 -102 -103 l0 -57 -58 0 c-79 0 -102 -23 -102 -103 l0 -57 -60 0 c-48 0 -63 -4 -80 -22 -24 -26 -27 -84 -4 -116 15 -22 19 -22 229 -22 210 0 214 0 229 22 10 14 16 44 16 80 l0 58 64 0 c81 0 96 16 96 102 l0 58 65 0 c58 0 66 3 81 25 21 32 14 101 -13 120 -10 8 -42 14 -75 15 l-58 0 0 58 c0 48 -4 62 -23 80 -23 22 -89 30 -113 14z" />
        <path
          d="M1800 3958 c-15 -17 -20 -35 -20 -80 l0 -58 -58 0 c-48 0 -62 -4 -80 -23 -26 -28 -29 -82 -6 -115 13 -19 24 -22 80 -22 l64 0 0 -58 c0 -82 16 -102 85 -102 69 0 85 20 85 102 l0 58 64 0 c56 0 67 3 80 22 24 34 20 90 -7 116 -18 17 -36 22 -80 22 l-57 0 0 58 c0 48 -4 62 -23 80 -32 30 -99 30 -127 0z" />
        <path
          d="M2934 3972 c-22 -14 -34 -51 -34 -101 l0 -51 -57 0 c-32 0 -63 -4 -69 -8 -27 -18 -34 -56 -34 -181 l0 -131 -75 0 -75 0 0 54 c0 39 -6 60 -21 80 l-20 26 -203 0 c-199 0 -203 0 -224 -23 -26 -28 -29 -82 -6 -115 13 -19 24 -22 80 -22 l64 0 0 -58 c0 -86 15 -102 96 -102 l64 0 0 -58 c0 -98 7 -102 165 -102 158 0 165 4 165 102 l0 58 64 0 c92 0 96 7 96 182 l0 138 64 0 c90 0 96 10 96 156 0 97 -3 115 -21 138 -16 21 -29 26 -62 26 -23 0 -47 -4 -53 -8z" />
        <path
          d="M3401 3954 c-25 -32 -27 -81 -5 -112 12 -18 25 -22 69 -22 44 0 57 4 69 22 22 31 20 80 -5 112 -16 21 -29 26 -64 26 -35 0 -48 -5 -64 -26z" />
        <path
          d="M5001 3954 c-19 -24 -21 -40 -21 -160 l0 -134 -155 0 -155 0 0 55 c0 72 -28 105 -89 105 -55 0 -81 -34 -81 -106 l0 -54 -59 0 c-52 0 -62 -3 -80 -26 -15 -20 -21 -41 -21 -80 l0 -54 -75 0 -75 0 0 54 c0 74 -25 106 -85 106 -35 0 -48 -5 -64 -26 -19 -24 -21 -40 -21 -160 l0 -134 -59 0 c-52 0 -62 -3 -80 -26 -25 -32 -27 -81 -5 -112 13 -19 24 -22 80 -22 l64 0 0 -240 0 -240 -59 0 c-52 0 -62 -3 -80 -26 -15 -20 -21 -41 -21 -80 l0 -54 -59 0 c-52 0 -62 -3 -80 -26 -15 -20 -21 -41 -21 -80 l0 -54 -59 0 c-52 0 -62 -3 -80 -26 -19 -24 -21 -40 -21 -160 l0 -134 -155 0 -155 0 0 80 0 80 64 0 c56 0 67 3 80 22 24 34 20 90 -7 116 -22 20 -33 22 -160 22 l-137 0 0 80 0 80 144 0 c184 0 176 -9 176 182 l0 138 64 0 c96 0 96 1 96 236 0 178 -1 193 -21 218 -16 21 -29 26 -64 26 -60 0 -85 -32 -85 -106 l0 -54 -59 0 c-52 0 -62 -3 -80 -26 -15 -20 -21 -41 -21 -80 l0 -54 -75 0 -75 0 0 54 c0 39 -6 60 -21 80 -20 26 -22 26 -144 26 -122 0 -124 0 -144 -26 -25 -32 -27 -81 -5 -112 13 -19 24 -22 80 -22 l64 0 0 -58 c0 -86 15 -102 96 -102 l64 0 0 -80 0 -80 -59 0 c-52 0 -62 -3 -80 -26 -19 -24 -21 -40 -21 -160 l0 -134 -59 0 c-52 0 -62 -3 -80 -26 -25 -32 -27 -81 -5 -112 14 -21 22 -22 160 -22 l144 0 0 -138 c0 -108 3 -142 16 -160 l15 -22 374 0 374 0 15 22 c22 31 20 80 -5 112 -18 23 -28 26 -80 26 l-59 0 0 80 0 80 64 0 c81 0 96 16 96 102 l0 58 64 0 c81 0 96 16 96 102 l0 58 75 0 75 0 0 -58 c0 -98 7 -102 164 -102 157 0 158 1 164 96 l4 64 74 0 74 0 0 -80 0 -80 -59 0 c-53 0 -62 -3 -81 -27 -17 -22 -21 -37 -17 -68 7 -51 28 -65 98 -65 l57 0 4 -64 c5 -85 15 -96 93 -96 l63 0 4 -66 c5 -81 20 -96 93 -92 67 4 75 21 75 161 0 101 -1 109 -25 132 -20 21 -34 25 -80 25 l-55 0 0 160 0 160 64 0 c79 0 89 10 94 96 l4 64 74 0 74 0 0 -160 0 -160 -55 0 c-47 0 -60 -4 -82 -26 -22 -22 -25 -32 -20 -67 8 -61 22 -67 168 -67 149 0 151 1 157 96 l4 64 144 0 c136 0 144 1 158 22 24 34 20 85 -9 113 -20 21 -34 25 -80 25 l-55 0 0 55 c0 78 -27 105 -105 105 l-55 0 0 55 c0 46 -4 60 -25 80 -23 24 -29 25 -160 25 l-135 0 0 80 0 80 64 0 c73 0 85 9 93 69 5 33 1 44 -20 65 -22 22 -35 26 -82 26 l-55 0 0 80 0 80 64 0 c79 0 89 10 94 96 l4 64 223 0 c195 0 224 2 236 17 11 12 15 65 17 214 l3 199 -25 25 c-36 36 -97 35 -125 -1 -19 -24 -21 -40 -21 -160 l0 -134 -75 0 -75 0 0 135 c0 131 -1 137 -25 160 -23 24 -30 25 -144 25 -117 0 -120 -1 -140 -26z m-181 -534 l0 -80 -155 0 -155 0 0 80 0 80 155 0 155 0 0 -80z m0 -480 l0 -240 -235 0 -235 0 0 240 0 240 235 0 235 0 0 -240z" />
        <path
          d="M4525 2995 c-32 -31 -34 -86 -5 -115 15 -15 33 -20 69 -20 57 0 71 12 78 69 5 33 1 44 -20 65 -35 35 -89 35 -122 1z" />
        <path
          d="M3561 3794 c-15 -20 -21 -41 -21 -80 l0 -54 -219 0 -220 0 -20 -26 c-25 -32 -27 -81 -5 -112 13 -19 24 -22 80 -22 l64 0 0 -58 c0 -82 16 -102 85 -102 69 0 85 20 85 102 l0 58 75 0 75 0 0 -58 c0 -82 16 -102 85 -102 69 0 85 20 85 102 l0 58 64 0 c56 0 67 3 80 22 22 31 20 80 -5 112 -18 23 -28 26 -80 26 l-59 0 0 54 c0 74 -25 106 -85 106 -35 0 -48 -5 -64 -26z" />
        <path
          d="M1322 3640 c-26 -25 -30 -85 -6 -118 13 -19 24 -22 80 -22 l64 0 0 -58 c0 -82 16 -102 85 -102 78 0 85 14 85 160 0 109 -2 118 -23 138 -21 20 -34 22 -143 22 -107 0 -123 -2 -142 -20z" />
        <path
          d="M374 3332 c-34 -22 -44 -93 -18 -130 12 -18 25 -22 69 -22 44 0 57 4 69 22 24 33 20 93 -6 118 -22 20 -91 28 -114 12z" />
        <path
          d="M1160 3318 c-24 -26 -27 -84 -4 -116 14 -21 22 -22 149 -22 127 0 135 1 149 22 24 34 20 90 -7 116 -21 20 -34 22 -145 22 -112 0 -123 -2 -142 -22z" />
        <path
          d="M1641 3314 c-20 -26 -21 -39 -21 -298 0 -230 2 -275 16 -294 14 -21 22 -22 149 -22 127 0 135 1 149 22 24 34 20 90 -7 116 -18 17 -36 22 -80 22 l-57 0 0 160 0 160 64 0 c56 0 67 3 80 22 24 34 20 90 -7 116 -21 20 -34 22 -144 22 -119 0 -122 0 -142 -26z" />
        <path
          d="M2134 3332 c-22 -14 -34 -51 -34 -101 l0 -51 -59 0 c-52 0 -62 -3 -80 -26 -18 -23 -21 -41 -21 -139 0 -158 -4 -154 175 -157 l140 -3 5 -141 c3 -99 9 -146 19 -158 11 -13 35 -16 147 -16 126 0 134 1 148 22 24 34 20 90 -7 116 -18 17 -36 22 -80 22 l-57 0 0 218 c0 215 0 219 -23 240 -18 17 -36 22 -80 22 l-57 0 0 60 c0 48 -4 63 -22 80 -22 20 -91 28 -114 12z" />
        <path
          d="M3081 3314 c-25 -32 -27 -81 -5 -112 12 -18 25 -22 69 -22 63 0 85 21 85 80 0 50 -33 80 -87 80 -33 0 -46 -6 -62 -26z" />
        <path
          d="M5321 3314 c-27 -34 -27 -88 -1 -114 18 -18 33 -20 146 -20 142 0 152 5 161 70 5 32 1 43 -20 64 -25 25 -31 26 -146 26 -117 0 -120 -1 -140 -26z" />
        <path
          d="M3721 3154 c-18 -23 -21 -41 -21 -138 0 -142 8 -156 85 -156 77 0 85 14 85 156 0 97 -3 115 -21 138 -16 21 -29 26 -64 26 -35 0 -48 -5 -64 -26z" />
        <path
          d="M542 3005 c-93 -29 -168 -108 -192 -205 -7 -30 -10 -152 -8 -365 3 -310 4 -322 26 -371 27 -60 69 -103 132 -136 44 -23 51 -23 389 -26 310 -2 349 -1 394 15 67 24 129 81 158 145 24 53 24 56 24 398 0 345 0 345 -24 394 -33 67 -91 121 -157 146 -51 19 -76 20 -377 19 -241 0 -333 -4 -365 -14z m640 -173 c51 -25 103 -92 113 -146 4 -17 5 -133 3 -257 l-3 -226 -28 -41 c-15 -23 -46 -54 -69 -69 l-41 -28 -228 -3 c-145 -2 -242 1 -268 8 -55 15 -126 83 -140 135 -6 23 -11 131 -11 261 0 218 0 221 26 273 30 60 78 97 145 111 24 5 136 8 249 7 192 -2 208 -3 252 -25z" />
        <path
          d="M740 2678 c-67 -46 -75 -66 -78 -206 -3 -116 -1 -131 20 -172 35 -69 66 -80 223 -80 154 0 186 11 223 81 21 41 23 54 20 171 -3 140 -11 160 -78 206 -30 20 -45 22 -165 22 -120 0 -135 -2 -165 -22z" />
        <path
          d="M2601 2834 c-25 -32 -27 -81 -5 -112 12 -18 25 -22 69 -22 63 0 85 21 85 80 0 50 -33 80 -87 80 -33 0 -46 -6 -62 -26z" />
        <path
          d="M3561 2834 c-25 -32 -27 -81 -5 -112 12 -18 25 -22 69 -22 44 0 57 4 69 22 22 31 20 80 -5 112 -16 21 -29 26 -64 26 -35 0 -48 -5 -64 -26z" />
        <path
          d="M5483 2834 c-21 -21 -25 -32 -20 -65 7 -56 22 -69 76 -69 60 0 81 16 88 67 5 35 2 45 -20 67 -18 18 -37 26 -62 26 -25 0 -44 -8 -62 -26z" />
        <path
          d="M1961 2674 c-25 -32 -27 -81 -5 -112 12 -18 25 -22 69 -22 44 0 57 4 69 22 22 31 20 80 -5 112 -16 21 -29 26 -64 26 -35 0 -48 -5 -64 -26z" />
        <path
          d="M1654 2532 c-26 -17 -34 -56 -34 -160 0 -154 -4 -151 175 -154 l140 -3 5 -141 c3 -99 9 -146 19 -158 11 -13 35 -16 147 -16 126 0 134 1 148 22 22 31 20 80 -5 112 -18 23 -28 26 -80 26 l-59 0 0 134 c0 120 -2 136 -21 160 -20 26 -21 26 -160 26 l-139 0 0 54 c0 74 -25 106 -83 106 -23 0 -47 -4 -53 -8z" />
        <path
          d="M2601 2514 c-25 -32 -27 -81 -5 -112 12 -18 25 -22 69 -22 44 0 57 4 69 22 22 31 20 80 -5 112 -16 21 -29 26 -64 26 -35 0 -48 -5 -64 -26z" />
        <path
          d="M3401 2514 c-25 -32 -27 -81 -5 -112 12 -18 25 -22 69 -22 44 0 57 4 69 22 22 31 20 80 -5 112 -16 21 -29 26 -64 26 -35 0 -48 -5 -64 -26z" />
        <path
          d="M2281 2354 c-25 -32 -27 -81 -5 -112 14 -21 22 -22 149 -22 127 0 135 1 149 22 22 31 20 80 -5 112 -20 26 -22 26 -144 26 -122 0 -124 0 -144 -26z" />
        <path
          d="M4041 2354 c-15 -20 -21 -41 -21 -80 l0 -54 -59 0 c-52 0 -62 -3 -80 -26 -25 -32 -27 -81 -5 -112 13 -19 24 -22 80 -22 l64 0 0 -60 c0 -78 19 -100 89 -100 64 0 81 21 81 102 l0 58 144 0 c161 0 164 1 173 69 5 33 1 44 -20 65 -25 25 -29 26 -162 26 l-135 0 0 54 c0 74 -25 106 -85 106 -35 0 -48 -5 -64 -26z" />
        <path
          d="M2601 2194 c-25 -32 -27 -81 -5 -112 12 -18 25 -22 69 -22 63 0 85 21 85 80 0 50 -33 80 -87 80 -33 0 -46 -6 -62 -26z" />
        <path
          d="M5483 2194 c-22 -22 -25 -32 -20 -67 7 -51 28 -67 88 -67 54 0 69 13 76 69 7 52 -28 91 -82 91 -25 0 -44 -8 -62 -26z" />
        <path
          d="M1654 2052 c-34 -22 -44 -93 -18 -130 12 -18 25 -22 69 -22 44 0 57 4 69 22 22 31 20 80 -5 112 -16 21 -29 26 -62 26 -23 0 -47 -4 -53 -8z" />
        <path
          d="M4521 2034 c-27 -34 -27 -88 -1 -114 15 -15 33 -20 69 -20 57 0 71 12 78 69 5 33 1 44 -20 65 -37 37 -97 36 -126 0z" />
        <path
          d="M5165 2035 c-32 -31 -34 -86 -5 -115 15 -15 33 -20 69 -20 57 0 71 12 78 69 5 33 1 44 -20 65 -35 35 -89 35 -122 1z" />
        <path
          d="M815 1311 c-22 -10 -56 -36 -76 -57 -111 -118 -65 -317 87 -380 54 -23 165 -29 189 -10 16 12 18 18 9 33 -9 14 -28 19 -90 23 -89 7 -109 15 -152 64 -34 38 -49 102 -37 156 9 40 60 99 102 116 112 47 243 -39 243 -159 -1 -75 -44 -76 -54 0 -10 76 -51 113 -123 113 -21 0 -52 -9 -69 -19 -63 -38 -61 -154 4 -197 31 -20 91 -23 124 -5 22 11 30 10 57 -4 73 -37 124 7 123 106 -1 96 -55 182 -137 220 -53 25 -147 25 -200 0z m137 -178 c35 -32 13 -93 -34 -93 -52 0 -77 66 -36 94 29 20 47 20 70 -1z" />
        <path
          d="M1220 1110 l0 -190 40 0 39 0 3 116 3 117 50 -117 49 -116 38 0 38 0 0 190 0 190 -35 0 -34 0 -3 -122 -3 -123 -54 123 -54 122 -38 0 -39 0 0 -190z" />
        <path d="M1547 1293 c-4 -3 -7 -89 -7 -190 l0 -183 40 0 40 0 0 190 0 190 -33 0 c-19 0 -37 -3 -40 -7z" />
        <path
          d="M1680 1110 l0 -190 40 0 40 0 0 59 c0 39 5 63 15 71 12 10 19 1 46 -59 l32 -71 43 0 c24 0 44 3 44 6 0 3 -23 50 -51 105 l-51 100 51 80 c28 44 51 82 51 85 0 2 -20 4 -44 4 l-44 0 -43 -76 -44 -77 -3 77 -3 76 -39 0 -40 0 0 -190z" />
        <path d="M1987 1293 c-4 -3 -7 -89 -7 -190 l0 -183 40 0 40 0 0 190 0 190 -33 0 c-19 0 -37 -3 -40 -7z" />
        <path
          d="M2092 1268 c3 -31 6 -33 46 -36 l42 -3 0 -155 0 -154 40 0 40 0 0 155 0 155 44 0 c41 0 44 2 48 30 3 17 2 32 0 35 -3 3 -63 5 -134 5 l-129 0 3 -32z" />
        <path
          d="M2400 1110 l0 -190 110 0 110 0 0 30 0 30 -70 0 -70 0 0 50 0 49 57 3 c57 3 58 3 58 33 0 29 -2 30 -45 32 -25 1 -51 2 -57 2 -8 1 -13 16 -13 41 l0 39 68 3 67 3 0 30 0 30 -107 3 -108 3 0 -191z" />
        <path
          d="M2660 1110 l0 -190 40 0 39 0 3 115 3 114 50 -114 50 -115 40 0 40 0 -3 190 -3 190 -34 0 -34 0 -3 -122 -3 -123 -54 123 -55 122 -38 0 -38 0 0 -190z" />
        <path
          d="M3042 1288 c-12 -6 -32 -27 -44 -47 -19 -30 -22 -50 -23 -131 0 -141 35 -192 134 -193 97 -2 135 50 135 188 1 103 -16 150 -63 178 -32 19 -104 21 -139 5z m99 -67 c22 -18 24 -26 24 -116 0 -84 -3 -98 -19 -111 -25 -18 -47 -18 -71 0 -16 11 -20 29 -23 89 -6 107 10 147 59 156 4 0 17 -8 30 -18z" />
        <path
          d="M3300 1111 l0 -191 40 0 40 0 0 59 c0 38 5 63 14 70 12 10 20 -1 47 -59 l32 -70 43 0 c24 0 44 3 44 6 0 3 -22 50 -50 103 -27 54 -50 101 -50 105 0 3 23 40 50 80 28 40 50 76 50 80 0 3 -20 6 -45 6 l-44 0 -43 -77 -43 -78 -5 75 -5 75 -37 3 -38 3 0 -190z" />
        <path
          d="M3638 1278 c-38 -33 -49 -61 -55 -141 -7 -88 9 -151 47 -189 25 -24 36 -28 87 -28 79 1 123 38 123 104 0 22 -4 26 -30 26 -25 0 -32 -6 -44 -35 -12 -29 -20 -35 -45 -35 -47 0 -61 30 -61 132 0 75 3 91 20 108 11 11 29 20 39 20 25 0 51 -26 51 -51 0 -15 7 -19 36 -19 37 0 37 0 31 37 -10 58 -45 86 -114 90 -49 4 -62 1 -85 -19z" />
        <path
          d="M3890 1151 c0 -163 6 -191 45 -217 33 -21 117 -22 150 0 44 29 50 51 50 211 l0 150 -37 3 -38 3 0 -141 c0 -150 -7 -180 -43 -180 -49 0 -52 9 -55 170 l-3 150 -35 0 -34 0 0 -149z" />
        <path
          d="M4190 1110 l0 -190 40 0 40 0 0 70 c0 57 3 70 16 70 9 0 27 -27 46 -70 31 -69 31 -70 69 -70 38 0 50 14 31 36 -5 5 -18 33 -30 63 l-22 54 22 25 c19 19 23 35 23 82 0 91 -41 120 -172 120 l-63 0 0 -190z m162 85 c11 -41 -13 -75 -52 -75 -30 0 -30 1 -30 56 l0 55 37 -3 c31 -3 38 -7 45 -33z" />
        <path
          d="M4490 1110 l0 -190 40 0 40 0 0 71 c0 61 2 70 17 67 11 -2 28 -29 44 -68 27 -64 28 -65 68 -68 23 -2 41 -1 41 1 0 3 -14 37 -30 75 l-30 71 25 37 c27 40 33 96 14 138 -16 35 -76 56 -159 56 l-70 0 0 -190z m160 94 c16 -40 -7 -78 -48 -82 l-32 -3 0 55 0 56 35 0 c29 0 37 -5 45 -26z" />
        <path
          d="M4780 1110 l0 -190 110 0 110 0 0 30 0 30 -70 0 -70 0 0 50 0 50 54 0 c59 0 71 9 62 43 -4 19 -12 22 -58 22 l-53 0 -3 42 -3 42 68 3 68 3 0 30 0 30 -107 3 -108 3 0 -191z" />
        <path
          d="M5040 1110 l0 -190 40 0 39 0 3 115 3 114 50 -114 50 -115 37 0 38 0 0 190 0 190 -35 0 -34 0 -3 -122 -3 -123 -54 123 -55 122 -38 0 -38 0 0 -190z" />
        <path
          d="M791 667 c-48 -24 -66 -72 -66 -177 0 -142 35 -192 134 -192 74 1 112 34 123 107 2 17 -3 21 -34 23 -32 3 -38 0 -38 -17 0 -50 -68 -69 -96 -26 -13 19 -15 44 -13 116 3 77 7 93 24 105 30 22 58 13 75 -23 13 -28 20 -33 52 -33 37 0 37 0 27 33 -15 54 -30 76 -62 87 -40 14 -96 13 -126 -3z" />
        <path
          d="M1010 670 c0 -6 22 -63 49 -128 44 -103 50 -125 48 -180 l-2 -62 37 0 38 0 0 64 c0 55 7 82 50 183 28 65 50 121 50 125 0 5 -18 8 -39 8 l-39 0 -27 -81 c-15 -44 -31 -77 -35 -72 -4 4 -18 41 -30 81 l-23 72 -38 0 c-22 0 -39 -5 -39 -10z" />
        <path
          d="M1310 490 l0 -190 40 0 39 0 3 115 3 115 50 -115 50 -115 40 0 40 0 -3 190 -3 190 -34 0 -34 0 -3 -122 -3 -123 -54 123 -55 122 -38 0 -38 0 0 -190z" />
        <path
          d="M1705 668 c-53 -31 -82 -119 -71 -221 11 -105 50 -149 135 -149 98 0 134 50 135 187 0 103 -17 150 -63 178 -33 19 -106 22 -136 5z m100 -73 c22 -21 25 -33 25 -102 0 -90 -15 -127 -50 -131 -51 -6 -65 18 -68 117 -4 85 -3 91 22 115 31 32 41 32 71 1z" />
        <path
          d="M1924 666 c-13 -34 0 -51 44 -54 l42 -3 0 -155 0 -154 40 0 40 0 0 155 0 155 44 0 c41 0 44 2 48 30 3 17 2 32 0 35 -3 3 -61 5 -129 5 -98 0 -125 -3 -129 -14z" />
        <path d="M2227 673 c-4 -3 -7 -89 -7 -190 l0 -183 40 0 40 0 0 190 0 190 -33 0 c-19 0 -37 -3 -40 -7z" />
        <path
          d="M2370 490 l0 -190 40 0 40 0 0 75 0 75 54 0 c44 0 56 3 61 19 12 38 -4 51 -61 51 l-54 0 0 45 0 45 65 0 65 0 0 35 0 35 -105 0 -105 0 0 -190z" />
        <path d="M2627 673 c-4 -3 -7 -89 -7 -190 l0 -183 40 0 40 0 0 190 0 190 -33 0 c-19 0 -37 -3 -40 -7z" />
        <path
          d="M2814 661 c-44 -27 -59 -71 -59 -176 0 -99 12 -135 56 -167 55 -41 165 -18 187 39 23 58 20 68 -19 71 -33 3 -37 0 -44 -25 -8 -32 -21 -43 -52 -43 -41 0 -55 39 -52 141 3 77 7 93 24 105 30 22 58 13 75 -23 13 -28 20 -33 51 -33 l37 0 -10 40 c-21 82 -118 117 -194 71z" />
        <path
          d="M3146 623 c-9 -32 -35 -118 -59 -190 l-44 -133 43 0 c40 0 42 1 51 38 8 36 10 37 60 40 l52 3 11 -40 c10 -39 13 -41 50 -41 22 0 40 3 39 8 0 4 -26 88 -58 187 l-57 180 -35 3 c-36 3 -36 3 -53 -55z m73 -125 c14 -61 15 -58 -19 -58 -34 0 -36 8 -18 75 14 52 21 49 37 -17z" />
        <path
          d="M3334 666 c-13 -34 0 -51 44 -54 l42 -3 0 -155 0 -154 40 0 40 0 0 154 0 155 47 3 c45 3 47 4 47 33 l0 30 -127 3 c-105 2 -128 0 -133 -12z" />
        <path d="M3647 673 c-4 -3 -7 -89 -7 -190 l0 -183 40 0 40 0 0 190 0 190 -33 0 c-19 0 -37 -3 -40 -7z" />
        <path
          d="M3839 665 c-45 -24 -64 -78 -63 -180 0 -136 37 -187 135 -187 56 0 92 19 113 60 33 65 27 225 -11 276 -32 45 -121 60 -174 31z m101 -55 c19 0 32 -64 28 -140 -5 -91 -18 -112 -62 -108 -42 4 -56 36 -56 131 0 70 3 80 25 103 15 15 32 23 41 20 9 -3 19 -6 24 -6z" />
        <path
          d="M4100 490 l0 -190 40 0 39 0 3 116 3 115 50 -115 50 -116 38 0 37 0 0 190 0 190 -35 0 -34 0 -3 -122 -3 -123 -54 123 -54 122 -38 0 -39 0 0 -190z" />
        <path
          d="M4430 490 l0 -190 80 0 c86 0 131 15 150 49 17 32 12 96 -9 122 -18 22 -18 25 -4 42 20 22 21 100 2 123 -24 29 -75 44 -149 44 l-70 0 0 -190z m144 114 c19 -7 21 -55 4 -72 -7 -7 -25 -12 -40 -12 -27 0 -28 2 -28 45 0 41 2 45 24 45 13 0 31 -3 40 -6z m21 -178 c8 -24 6 -31 -14 -47 -13 -10 -34 -19 -47 -19 -22 0 -24 4 -24 51 l0 50 37 -3 c31 -2 39 -8 48 -32z" />
        <path
          d="M4778 662 c-46 -28 -63 -75 -62 -177 0 -138 35 -185 136 -185 59 0 90 16 112 58 20 40 28 129 16 197 -8 49 -16 66 -45 93 -29 27 -42 32 -82 32 -27 0 -60 -8 -75 -18z m107 -67 c22 -21 25 -33 25 -100 0 -100 -18 -137 -63 -133 -43 4 -57 35 -57 131 0 69 3 81 25 102 13 14 29 25 35 25 6 0 22 -11 35 -25z" />
        <path
          d="M5004 666 c-13 -34 0 -51 43 -54 49 -4 48 0 48 -184 l0 -128 37 0 38 0 0 155 0 155 45 0 c45 0 45 0 45 35 l0 35 -125 0 c-100 0 -127 -3 -131 -14z" />
      </g>
    </svg>
  </p>
</body>
<script>

</script>

</html>